Prática de Estatística I - Curso Formação Cientista de Dados 2023 - Udemy

# Importação de bibliotecas

In [20]:
import pandas as pd #para carregar os arquivos csv
import numpy as np #para gerar números aleatórios
from math import ceil #retorna o maior valor do resultado de uma divisão de um número real

- A biblioteca **Pandas** é para trabalhar com dados em dorma de vetor, dados estruturados
- A biblioteca **Numpy** é científica. Possui várias funções de cálculo

# Amostragem Simples

## Importação da base de dados

Sempre bom ter uma ideia de como está disponível os dados que se está importando. Por isso a linha de código abaixo. Deste modo é possível ver como estão nomeadas colunas, quantas são, como é o formato dos dados.

In [3]:
base = pd.read_csv('iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
base.shape

(150, 5)

## Amostragem

Minha intenção é retirar uma **amostra aleatória** do conjunto de dados importado, permitindo assim que todos os elementos do conjuntos tenham chances iguais de serem escolhidos. Assim, irei executar em ordem:

1 - Gerar números aleatórios;<br>
    
    np.random.seed(2345)
    
  para gerar os mesmos elementos da aula fonte.
    
2 - Transformá-los em vetor;<br>

    amostra = np.random.choice(a = [0, 1], size = 150, replace = True, 
                          p = [0.7, 0.3])

guarda na variável de nome *amostra* vetor aleatório gerado de 'zeros' e 'uns', com 150 elementos, podendo os 'zeros' e 'uns' serem repetidos neste vetor, tendo a probabilidade do elemento '0' sair 70% e do elemento '1' sair 30%

3 - Usá-los para selecionar os registros que serão escolhidos de Iris.

    base_final = base.loc[amostra == 0]

In [18]:
np.random.seed(2345) #esta linha de código deve sempre anteceder a linha de código que tem um método que tem elementos aleatórios
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, 
                          p = [0.7, 0.3])
#len(amostra)
#len([amostra == 1])
#len([amostra == 0])
amostra

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [15]:
#querendo formar uma base com 101 elementos
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

In [19]:
#querendo formar uma base com 49 elementos
base_final2 = base.loc[amostra == 1]
base_final2.shape

(49, 5)

# Amostragem sistemática

**Do que se trata?** <br>

Trata-se do caso de quando, para formar um conjunto de seleção aleatório, escolhe-se um elemento de forma aleatória e a partir dele, a cada 'n' elementos, escolhe-se um outro elemento. Seguindo a sequência. Retirando de forma sistemática os elementos que irão compor conjunto da amostra. <br>
<br>
**Passo-a-passo para obtenção da amostra sistemática:** <br>
- Usando o **mesmo conjunto de dados 'Iris'**, em que se conhece o total de elementos (150), pretende-se **obter uma amostra de 15 elementos** gerados aleatoriamente de forma sistemática. Para isso, é necessário **definir um intervalo** (k) de quantos em quantos elementos serão retirados o elemento para a amosrta. Daí a necessidade da função 'ceil'. <br>
- Definido o k, é possível então gerar o primeiro elemento aleatório, que será a partir do qual se dará prosseguimento ao processo de amostragem.
- Em seguida, gera-se um vetor com os 15 elementos, definindo a posição dos elementos que serão retirados do banco de dados Iris. 
- Por último, usando a biblioteca pandas [.loc], retira da base de dados os elementos correspondentes aos sorteados na etapa anterior.

In [21]:
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
print(k)

10

In [27]:
r = np.random.randint(low = 1, high = k+1, size = 1)
print(r)

[2]

In [28]:
acumulador = r[0]
sorteados = []
for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92, 102, 112, 122, 132, 142]

In [24]:
len(sorteados)

15

In [29]:
base3 = pd.read_csv('iris.csv')
base_final3=base.loc[sorteados]
base_final3 #amostra sistemática

     sepal length  sepal width  petal length  petal width            class
2             4.7          3.2           1.3          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
52            6.9          3.1           4.9          1.5  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
72            6.3          2.5           4.9          1.5  Iris-versicolor
82            5.8          2.7           3.9          1.2  Iris-versicolor
92            5.8          2.6           4.0          1.2  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica