Prática de Estatística I - Curso Formação Cientista de Dados 2023 - Udemy

# Importação de bibliotecas

In [25]:
import pandas as pd #para carregar os arquivos csv
import numpy as np #para gerar números aleatórios
from math import ceil #retorna o maior valor do resultado de uma divisão de um número real
from sklearn.model_selection import train_test_split

- A biblioteca **Pandas** é para trabalhar com dados em dorma de vetor, dados estruturados
- A biblioteca **Numpy** é científica. Possui várias funções de cálculo

# Amostragem Simples

## Importação da base de dados

Sempre bom ter uma ideia de como está disponível os dados que se está importando. Por isso a linha de código abaixo. Deste modo é possível ver como estão nomeadas colunas, quantas são, como é o formato dos dados.

In [2]:
base = pd.read_csv('iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
base.shape

(150, 5)

## Amostragem

Minha intenção é retirar uma **amostra aleatória** do conjunto de dados importado, permitindo assim que todos os elementos do conjuntos tenham chances iguais de serem escolhidos. Assim, irei executar em ordem:

1 - Gerar números aleatórios;<br>
    
    np.random.seed(2345)
    
  para gerar os mesmos elementos da aula fonte.
    
2 - Transformá-los em vetor;<br>

    amostra = np.random.choice(a = [0, 1], size = 150, replace = True, 
                          p = [0.7, 0.3])

guarda na variável de nome *amostra* vetor aleatório gerado de 'zeros' e 'uns', com 150 elementos, podendo os 'zeros' e 'uns' serem repetidos neste vetor, tendo a probabilidade do elemento '0' sair 70% e do elemento '1' sair 30%

3 - Usá-los para selecionar os registros que serão escolhidos de Iris.

    base_final = base.loc[amostra == 0]

In [13]:
np.random.seed(2345) #esta linha de código deve sempre anteceder a linha de código que tem um método que tem elementos aleatórios
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, 
                          p = [0.7, 0.3])
#len(amostra)
#len(amostra[amostra == 1])
#len(amostra[amostra == 0])
amostra

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [5]:
#querendo formar uma base com 101 elementos
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)

In [6]:
#querendo formar uma base com 49 elementos
base_final2 = base.loc[amostra == 1]
base_final2.shape

(49, 5)

# Amostragem sistemática

**Do que se trata?** <br>

Trata-se do caso de quando, para formar um conjunto de seleção aleatório, escolhe-se um elemento de forma aleatória e a partir dele, a cada 'n' elementos, escolhe-se um outro elemento. Seguindo a sequência. Retirando de forma sistemática os elementos que irão compor conjunto da amostra. <br>
<br>

**Passo-a-passo para obtenção da amostra sistemática:** <br>

- Usando o **mesmo conjunto de dados 'Iris'**, em que se conhece o total de elementos (150), pretende-se **obter uma amostra de 15 elementos** gerados aleatoriamente de forma sistemática. Para isso, é necessário **definir um intervalo** (k) de quantos em quantos elementos serão retirados o elemento para a amosrta. Daí a necessidade da função 'ceil'. <br>
- Definido o k, é possível então gerar o primeiro elemento aleatório, que será a partir do qual se dará prosseguimento ao processo de amostragem.
- Em seguida, gera-se um vetor com os 15 elementos, definindo a posição dos elementos que serão retirados do banco de dados Iris. 
- Por último, usando a biblioteca pandas [.loc], retira da base de dados os elementos correspondentes aos sorteados na etapa anterior.

In [20]:
populacao = 150
amostra2 = 15
k = ceil(populacao / amostra2)
print(k)

10

In [21]:
r = np.random.randint(low = 1, high = k+1, size = 1)
print(r)

[9]

In [22]:
acumulador = r[0]
sorteados = []
for i in range(amostra2):
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [10]:
len(sorteados)

15

In [24]:
base3 = pd.read_csv('iris.csv')
base_final3=base.loc[sorteados]
base_final3 #amostra sistemática

     sepal length  sepal width  petal length  petal width            class
9             4.9          3.1           1.5          0.1      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

# Amostragem estratificada

Serão dois conjunto de dados que serão trabalhados para retirar amostragem estratificada: <br>
1) Iris: possui a **classe** balanceada. Possui 50 registros de cada classe. <br>
2) Infert: possui a **classe** desbalanceada. O objetivo é gerar uma amostra estratificada com representatividade proporcional tomando como base a coluna *education*. <br>

## Classe balanceada

In [29]:
iris = pd.read_csv('iris.csv')
iris['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

- Com o objetivo de **extratificar** a amostra, isto é, escolher de cada classe uma quantidade (no caso 50% de cada classe) para compor a amostra, não esquecendo de permitir que todos os elementos de cada classe tenham chances iguais de serem escohidas, o código abaixo deve ser executado

In [30]:
x, _, y, _ = train_test_split(iris.iloc[:,0:4], iris.iloc[:,4],
                             test_size = 0.5, stratify = iris.iloc[:,4])
y.value_counts()

Iris-versicolor    25
Iris-virginica     25
Iris-setosa        25
Name: class, dtype: int64

**Explicando a função:**<br>
- A função *train_test_split* retorna 4 valores. Como precisamos de 2 valores, os outros foram substituídos por '_'. <br>
- *iris.iloc[:,0:4]*, parâmetro dentro do *train_test_split* percorre todas as linhas e colunas do arquivo. É chamada também de **variável previsores**. <br>
- *iris.iloc[:,4]*, parâmetro dentro do *train_test_split* é a variável dependente. Indica que percorre todas as linhas mas determina a coluna 4 como sendo a coluna em que se quer concentrar (ou classificar). <br>
- *test_size* em 0.5 indica que quer dividir as classes pelas metade (50%). <br>
- *stratify = iris.iloc[:,4]* indica que vai estratificar os elementos baseados no parâmetro 2 
<br>

**OBS:** Se tivesse sido gerado simplesmente uma amostra de 50% do conjunto Iris, sem as especificações que foram feitas, poderia ter ocorrido de ter uma quantidade maior em *versicolor* ou menor em *setosa*. Enfim, seria algo desigual. Diferente do resultado obtido em que cada classe aparece com 25 (que é 50% dos dados referêntes a cada classe)

## Classe desbalanceada

In [31]:
infert = pd.read_csv('infert.csv')
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [33]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [36]:
x1, _, y1, _ = train_test_split(infert.iloc[:,2:9], infert.iloc[:,1],
                             test_size = 0.6, stratify = infert.iloc[:,1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64

**Explicando a função:**<br>
- A fórmula tem a mesma construção da fórmula na seção *balanceada*.<br>
- O objetivo é gerar uma amostra de 40%, estratificada. Por essa razão o *test_size* é de 0.6. <br>
- O resultado obtido é 40% de cada classe, de maneira **proporcional**