# Análise com dados Kaggle

## Worl Energy Consumption

In [24]:
import pandas as pd
import statistics as sts
import seaborn as srn

In [4]:
ds = pd.read_csv('World Energy Consumption.csv')

In [11]:
ds.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
ds.shape

(17432, 122)

In [13]:
ds.info

<bound method DataFrame.info of       iso_code      country  year  coal_prod_change_pct  coal_prod_change_twh  \
0          AFG  Afghanistan  1900                   NaN                   NaN
1          AFG  Afghanistan  1901                   NaN                 0.000
2          AFG  Afghanistan  1902                   NaN                 0.000
3          AFG  Afghanistan  1903                   NaN                 0.000
4          AFG  Afghanistan  1904                   NaN                 0.000
...        ...          ...   ...                   ...                   ...
17427      ZWE     Zimbabwe  2015               -25.013               -10.847
17428      ZWE     Zimbabwe  2016               -37.694               -12.257
17429      ZWE     Zimbabwe  2017                 8.375                 1.697
17430      ZWE     Zimbabwe  2018                22.555                 4.952
17431      ZWE     Zimbabwe  2019               -35.015                -9.422

       gas_prod_change_pct  gas_prod_change_twh  oil_prod_change_pct  \
0                      NaN                  NaN                  NaN
1                      NaN                  NaN                  NaN
2                      NaN                  NaN                  NaN
3                      NaN                  NaN                  NaN
4                      NaN                  NaN                  NaN
...                    ...                  ...                  ...
17427                  NaN                  NaN                  NaN
17428                  NaN                  NaN                  NaN
17429                  NaN                  NaN                  NaN
17430                  NaN                  NaN                  NaN
17431                  NaN                  NaN                  NaN

       oil_prod_change_twh  energy_cons_change_pct  ...  \
0                      NaN                     NaN  ...
1                      NaN                     NaN  ...
2                      NaN                     NaN  ...
3                      NaN                     NaN  ...
4                      NaN                     NaN  ...
...                    ...                     ...  ...
17427                  NaN                  -0.789  ...
17428                  NaN                 -14.633  ...
17429                  NaN                     NaN  ...
17430                  NaN                     NaN  ...
17431                  NaN                     NaN  ...

       solar_elec_per_capita  solar_energy_per_capita           gdp  \
0                        NaN                      NaN           NaN
1                        NaN                      NaN           NaN
2                        NaN                      NaN           NaN
3                        NaN                      NaN           NaN
4                        NaN                      NaN           NaN
...                      ...                      ...           ...
17427                  0.579                      NaN  2.503057e+10
17428                  0.641                      NaN  2.515176e+10
17429                  0.773                      NaN           NaN
17430                  0.970                      NaN           NaN
17431                  0.956                      NaN           NaN

       wind_share_elec  wind_cons_change_pct  wind_share_energy  \
0                  NaN                   NaN                NaN
1                  NaN                   NaN                NaN
2                  NaN                   NaN                NaN
3                  NaN                   NaN                NaN
4                  NaN                   NaN                NaN
...                ...                   ...                ...
17427              0.0                   NaN                NaN
17428              0.0                   NaN                NaN
17429              0.0                   NaN                NaN
17430              0.0                   NaN                NaN
17431              0.0                   NaN                NaN

       wind_cons_change_twh  wind_consumption  wind_elec_per_capita  \
0                       NaN               NaN                   NaN
1                       NaN               NaN                   NaN
2                       NaN               NaN                   NaN
3                       NaN               NaN                   NaN
4                       NaN               NaN                   NaN
...                     ...               ...                   ...
17427                   NaN               NaN                   0.0
17428                   NaN               NaN                   0.0
17429                   NaN               NaN                   0.0
17430                   NaN               NaN                   0.0
17431                   NaN               NaN                   0.0

       wind_energy_per_capita
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
17427                     NaN
17428                     NaN
17429                     NaN
17430                     NaN
17431                     NaN

[17432 rows x 122 columns]>

In [16]:
ds.columns

Index(['iso_code', 'country', 'year', 'coal_prod_change_pct',
       'coal_prod_change_twh', 'gas_prod_change_pct', 'gas_prod_change_twh',
       'oil_prod_change_pct', 'oil_prod_change_twh', 'energy_cons_change_pct',
       ...
       'solar_elec_per_capita', 'solar_energy_per_capita', 'gdp',
       'wind_share_elec', 'wind_cons_change_pct', 'wind_share_energy',
       'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita',
       'wind_energy_per_capita'],
      dtype='object', length=122)

In [45]:
musicas = pd.read_csv('top50.csv', encoding='ISO-8859-1')
musicas.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [40]:
musicas.shape

(50, 14)

In [42]:
musicas.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

In [49]:
musicas.columns = ['Item', 'Musica', 'Artista', 'Genero', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity']

In [50]:
musicas.head()

,Item,Musica,Artista,Genero,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94